@import "./assets/styles/fonts.css";

/* General styles start */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  max-width: 1230px;
  width: 100%;
  /* padding: 0 15px; */
  margin: 0 auto;
}
body {
  scroll-behavior: smooth;
}

.block-name {
  font-size: 1.25rem;
  line-height: 30px;
  text-transform: uppercase;
  color: #10985d;
  text-align: center;
  margin-bottom: 2.5rem;
  font-family: "Poppins";
  font-weight: 600;
}

.section_title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 72px;
  color: #193c3f;
  text-align: center;
  margin-bottom: 59px;
  transition: 0.8s all ease;
}

.section_title span {
  color: #3cb27f;
  position: relative;
}

.section_title span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.25rem;
  top: 4.1rem;
  left: 0;
  background-color: #3cb27f;
  transform: rotate(2deg);
}

.section_title span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.25rem;
  top: 3.6rem;
  left: 0;
  background-color: #3cb27f;
  transform: rotate(2deg);
}

.primary_btn {
  width: 16.5rem;
  height: 3.25rem;
  background-color: #09a964;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  color: #fff;
  line-height: 125%;
  font-weight: 500;
  letter-spacing: 0.02rem;
  font-family: Poppins;
  transition: 0.4s;
}

.primary_btn:hover {
  background-color: #fff;
  color: #193c3f;
  border: 1px solid #09a964;
  cursor: pointer;
}

/* General styles finish */

/*** Main header section start ***/

.main_header {
  margin: 4.375rem 7.5rem;
  display: flex;
  font-family: "Poppins";
}

.main_header_left {
  width: 50%;
  height: 100%;
}

.main_header_left p {
  text-align: left;
  margin-bottom: 1.9rem;
}

.main_header_text {
  font-size: 1.5rem;
  line-height: 150%;
  color: #55645e;
  width: 80%;
}

.main_header_left button {
  margin-bottom: 3.75rem;
}

.main_header_box_wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.main_header_box {
  width: 31%;
  height: 90%;
  background: #ffffff;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.main_header_box h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.75rem;
  margin-bottom: 12px;
}

.main_header_box span {
  color: #10985d;
  font-weight: 900;
}
.main_header_right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main_header_right div {
  width: 48%;
}

.main_header_right div img {
  width: 100%;
}

.main_hero1 {
  position: relative;
}

.main_hero1::after {
  content: "";
  position: absolute;
  width: 2.7rem;
  height: 2.7rem;
  left: -4.8%;
  top: 85%;
  border-radius: 50%;
  background: #3cb27f;
}

.main_hero2 {
  position: relative;
}

.main_hero2::after {
  content: "";
  position: absolute;
  width: 2.7rem;
  height: 2.7rem;
  left: 72%;
  top: 1.8%;
  border-radius: 50%;
  background: #933cb2;
}

.main_hero4 {
  position: relative;
}

.main_hero4::after {
  content: "";
  position: absolute;
  width: 2.7rem;
  height: 2.7rem;
  left: -4.8%;
  top: 85%;
  border-radius: 50%;
  background: #3c64b2;
}

/*** Main header section finish ***/

/*** Main header responsive start ***/

@media screen and (max-width: 1000px) {
  .main_header {
    flex-direction: column;
    flex-flow: column-reverse;
    margin: 15px;
  }

  .main_header_left {
    width: 100%;
  }

  .main_header_right {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 14px;
  }

  .main_header .primary_btn {
    width: 100%;
    font-size: 1.4rem;
  }

  .header_title {
    font-size: 3rem;
  }

  .main_header_box h2 {
    margin-bottom: 0;
    font-size: 2.4rem;
  }

  .main_header_box p {
    margin-top: 0;
  }
}
/*** Main header responsive finish ***/

/* Footer */
.footer {
  position: relative;
  padding: 70px 0 0 0;
  background-image: url(./assets/images/footer-bg.svg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.footer-text-bg {
  position: absolute;
  width: 960px;
}
.footer-text-bg:nth-child(1) {
  top: 50px;
  right: -30px;
}
.footer-text-bg:nth-child(2) {
  left: 120px;
  top: 130px;
}
.footer-bg-gradient {
  position: absolute;
  width: 410px;
  height: 410px;
  background: rgba(60, 178, 127, 0.1);
  filter: blur(75px);
}
.gradient_1 {
  right: 40px;
}
.gradient_2 {
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}
.footer-title {
  /* section-title yaratilsa footer title shartmas */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 17px;
}
.footer-title-desc {
  width: 75%;
  margin: 0 auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 60px;
}
.footer-forms {
  position: relative;
  z-index: 999;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #c6e0d5;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}
.footer-form-items {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 17px;
}
.footer-forms-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-forms-item label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #55645e;
}
.footer-forms-item input {
  border: none;
  outline: none;
  background: #eef8f7;
  border: 1px solid #bacfc6;
  border-radius: 4px;
  padding: 13px 23px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.footer-forms-item input::placeholder {
  color: #cfd0d0;
}
.footer-form-items .footer-forms-item:nth-child(1) input {
  width: 363px;
}
.footer-form-items .footer-forms-item:nth-child(2) input {
  width: 221px;
}
.footer-forms-item select {
  width: 267px;
  border: none;
  outline: none;
  background: #eef8f7;
  border: 1px solid #bacfc6;
  border-radius: 4px;
  padding: 13px 23px;
  /* text-align: center; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.footer-forms-item-btn {
  border: none;
  outline: none;
  width: 217px;
  height: 50px;
  background: #09a964;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #ffffff;
  cursor: pointer;
}
.footer-form-desc {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer-form-desc span {
  color: #ff0909;
}
.footer-form-desc-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
}
.footer-about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 28px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 35px;
}
.footer-contact {
  padding: 24px;
  background: #193c3f;
  border: 1px solid #295154;
  border-radius: 12px;
  max-width: 462px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-contact-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-contact-item span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #91a29b;
}
.footer-contact-item:nth-child(1) a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #ffffff;

  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-contact-item a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  color: #ffffff;
}
.footer-item-title a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}
.footer-bottom {
  border-top: 1px solid #295154;
  padding: 28px 0;
}
.footer-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom-text a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #91a19b;
}
.footer-bottom-messengers {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-bottom-messengers a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #91a19b;
}
.footer-bottom-messengers-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}
.footer-bottom-messengers-item div {
  width: 25px;
  height: 25px;
  background-color: #ffffff;
}
/* Footer End */

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .footer-forms-item {
    width: 49%;
  }
  .footer-forms-item input,
  .footer-forms-item select,
  .footer-forms-item button {
    width: 100% !important;
  }
  .footer-form-items {
    gap: 10px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .footer-about {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .footer {
    padding-top: 31px;
  }
  .footer-forms-item {
    width: 100%;
  }
  .footer-forms-item-btn {
    margin-top: 20px;
  }
  .footer-contact {
    max-width: 100%;
  }
  .footer-about {
    gap: 25px;
  }
  .footer-title {
    font-size: 24px;
  }
  .footer-title-desc {
    font-size: 12px;
    max-width: 270px;
    margin-bottom: 24px;
  }
  .footer-text-bg {
    width: 100%;
  }
  .footer-text-bg:nth-child(1) {
    top: 100px;
    right: -30px;
  }
  .footer-text-bg:nth-child(2) {
    top: 170px;
    right: -30px;
  }
  .footer-bottom-messengers {
    display: none;
  }
  .footer-item-messengers {
    display: inline-block;
  }
  .footer-item-flex {
    display: flex;
    justify-content: space-between;
  }
  .footer-bottom-container {
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
