/* Python hero section */
.hero-section {
  padding: 50px 0;
}
.hero-container {
  display: flex;
}
.hero-content {
  width: 583px;
}
.hero-main-title {
  font-size: 6.5rem;
  font-weight: 700;
  margin-top: 20px;
  line-height: 72px;
}
.hero-description {
  font-size: 2.4rem;
  color: #55645e;
  line-height: 36px;
}
.hero-btn {
  width: 265px;
  height: 52px;
  font-size: 1.6rem;
}

.hero-image {
  width: 550px;
  height: 483px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8ffed;
  border-radius: 0px 266.5px 266.5px 0px;
  margin-left: 64px;
  position: relative;
}
.hero-image::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -15px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: #3c64b2;
}
.hero-image::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 75px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: #933cb2;
}
.hero-image img {
  width: 370px;
}

.hero-stats {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
  row-gap: 24px;
}

.hero-stats-item {
  display: flex;
  align-items: center;
}
.hero-stats-item__check {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  background: #e9fff5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-stats-item__check::after {
  content: "\2713";
  color: #3cb27f;
  font-size: 2rem;
}
.hero-stats-item__title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-left: 18px;
}
/* Python hero section end */

/* Responsive max-600px */
@media only screen and (max-width: 600px) {
  .hero-container {
    flex-direction: column-reverse;
  }
}
