.courses {
    background: radial-gradient(circle, rgba(60,178,127,0.1) 0%, rgba(255,255,255,0) 100%);
}



.courses .container {
    max-width: 1200px;
    margin: 0 auto;
}

.course-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.course-cards__item {
    width: 278px;
    height: 285px;
    margin-bottom: 30px;
    padding: 25px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s all ease;
}
.course-cards__item img {
    width: 60%;
}

.course-cards__item:hover{
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}

.course-cards__item p {
    font-family: 'SFPD';
    font-weight: 400;
    font-size: 1.25em;
    line-height: 140%;
    color: #000000;
    margin-top: 18px;
}

@media only screen and (max-width: 480px) and (min-width: 375px) {
    .block-name {
        font-size: 0.75em;
        margin-bottom: 8px;
    }

    .course-cards {
        padding: 0 7px;
    }

    .courses .container .section_title {
        font-size: 1.5em;
        line-height: 130%;
        margin-bottom: 30px;
        padding: 0 50px;
    }
    .course-cards__item {
        width: 162px;
        height: 166px;
        padding: 18px;
    }

    .course-cards__item p {
        font-size: 14px;
        line-height: 140%;
    }
}

@media only screen and (max-width: 576px) and (min-width: 480px) {
    .block-name {
        font-size: 0.75em;
        margin-bottom: 8px;
    }

    .course-cards {
        justify-content: space-around;
    }

    .courses .container .section_title {
        font-size: 2em;
        line-height: 130%;
        margin-bottom: 30px;
    }
    .course-cards__item {
        width: 162px;
        height: 166px;
        padding: 18px;
    }

    .course-cards__item p {
        font-size: 14px;
        line-height: 140%;
    }
}

@media only screen and (max-width: 786px) and (min-width: 576px) {
    .block-name {
        font-size: 0.75em;
        margin-bottom: 8px;
    }

    .course-cards {
        padding: 0 7px;
        justify-content: space-around;
    }

    .courses .container .section_title {
        font-size: 2em;
        line-height: 130%;
        margin-bottom: 30px;
    }
    .course-cards__item {
        width: 200px;
        height: 204px;
        padding: 18px;
    }

    .course-cards__item p {
        font-size: 14px;
        line-height: 140%;
    }
}

@media only screen and (max-width: 1400) and (min-width: 786px) {
    .block-name {
        font-size: 1.25em;
        line-height: 30px;
        text-transform: uppercase;
        color: #10985d;
        text-align: center;
        margin-bottom: 40px;
    }

    .course-cards {
        padding: 0 7px;
        justify-content: space-between;
    }

    .courses .container .section_title {
        font-size: 3em;
        line-height: 72px;
        margin-bottom: 30px;
    }
    .course-cards__item {
        width: 278px;
        height: 285px;
        padding: 18px;
    }

    .course-cards__item p {
        font-size: 1.25em;
        line-height: 140%;
    }
}