
.courses {
    max-width: 1200px;
    margin: 0 auto;
    background: rgba(60, 178, 127, 0.05);
}

.course-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.course-cards__item {
    width: 278px;
    height: 285px;
    margin-bottom: 30px;
    padding: 25px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s all ease;
}
.course-cards__item img {
    width: 60%;
}

.course-cards__item:not(:nth-child(4n)) {
    margin-right: 29px;
}

.course-cards__item:hover{
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}

.course-cards__item p {
    font-family: 'SFPD';
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 140%;
    color: #000000;
    margin-top: 18px;
}

@media only screen and (max-width: 480px) and (min-width: 376px) {
    .block-name {
        font-size: 0.75rem;
        margin-bottom: 8px;
    }

    .courses .section_title {
        font-size: 1.5rem;
        font-size: 24px;
        line-height: 130%;
    }

}