/* navbar */
nav {
  width: 100%;
  margin-top: 3.5rem;
}
.desktop_navbar {
  display: block;
}
.desktop_navbar ul {
  display: flex;
  justify-content: space-between;
  position: relative;
}
ul > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style-type: none;
  cursor: pointer;
  font-size: 1.6rem;
}
.courses_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  margin-right: 3.6rem !important;
}

.free_courses {
  margin-right: 3rem;
}
.phone_number {
  gap: 1.25rem;
}
.fulfil_logo {
  height: 6rem;
  width: 9.7rem;
  margin-right: 6.1rem;
}
.phone {
  height: 2.1rem;
  width: 2.1rem;
}

/* responsive navbar */
.mobile_navbar {
  display: none;
}

.mobile_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.kurslar_drop_down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
  width: 27.8rem;
  height: 54.5rem;
  border: 1px solid rgba(210, 220, 216, 1);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
  border-radius: 1.2rem;
  position: relative;
  margin-left: 6.5rem;
  padding: 3rem;
  background: linear-gradient(0deg, #ffffff, #ffffff);
}
.kurslar_drop_down li {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin-right: 0;
}
.kurslar_drop_down img {
  width: 4rem;
  height: 4rem;
  border-radius: 1.2rem;

  position: relative;
}

/* biz haqimizda dropdown */
.nav_about_us {
  width: 313px;
  height: 353px;
  margin-left: 19.5rem;
}
/* end of biz haqimizda dropdown */
.square {
  width: 3.2rem;
  height: 3.2rem;
  transform: rotate(45deg);
  border: 1px solid rgba(210, 220, 216, 1);
  /* box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12); */
  border-top-left-radius: 1.2rem;
  position: absolute;
  left: 40%;
  top: -1.5rem;
  background: linear-gradient(0deg, #ffffff, #ffffff);
  border-bottom: none;
  border-right: none;
}

@media (max-width: 375px) {
  nav {
    margin-top: 1.2rem;
  }
  .container {
    max-width: 335px;
  }
  .desktop_navbar {
    display: none;
  }
  .mobile_navbar {
    display: block;
    width: 100%;
  }
  .mobile_navbar ul {
    display: flex;
    justify-content: space-between;
  }
  .phone_number li {
    font-size: 1.2rem;
  }
  .fulfil_logo {
    width: 6rem;
    height: 3.7rem;
  }
  .mobile_logo img {
    cursor: pointer;
  }
  .phone {
    height: 1.5rem;
    width: 1.5rem;
  }
}
.not-active {
  display: none;
}
/* end of navbar */
.nav_drop_down {
  position: absolute;
}
