/* Python hero section */

.text-left {
  text-align: left;
}
.hero-section {
  padding: 50px 0;
}
.hero-container {
  display: flex;
}
.hero-content {
  width: 583px;
}
.hero-description {
  width: 70%;
  font-size: 24px;
  color: #55645e;
  line-height: 36px;
}
.hero-btn {
  width: 265px;
  height: 52px;
  font-size: 1rem;
}

.hero-image {
  width: 550px;
  height: 483px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8ffed;
  border-radius: 0px 266.5px 266.5px 0px;
  margin-left: 64px;
  position: relative;
}
.hero-image::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -15px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: #3c64b2;
}
.hero-image::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 75px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: #933cb2;
}
.hero-image img {
  width: 370px;
}

.hero-stats {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
  row-gap: 24px;
}

.hero-stats-item {
  display: flex;
  align-items: center;
}
.hero-stats-item__check {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  background: #e9fff5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-stats-item__check::after {
  content: "\2713";
  color: #3cb27f;
  font-size: 20px;
}
.hero-stats-item__title {
  font-size: 24px;
  font-weight: 500;
  margin-left: 18px;
}
/* Python hero section end */
/* Responsive max-992 */
@media only screen and (max-width: 992px) {
  .hero-image {
    width: 50%;
    height: 360px;
    border-radius: 5px;
    margin-left: 20px;
  }
  .hero-image::after {
    width: 27px;
    height: 27px;
  }
  .hero-image::before {
    width: 27px;
    height: 27px;
    top: -10px;
    right: -10px;
  }
  .hero-image img {
    width: 300px;
  }
  .hero-content {
    width: 50%;
  }
  .hero-description {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
  }

  .hero-btn {
    width: 60%;
    height: 48px;
  }

  .hero-stats {
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
  .hero-stats-item__check {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
  .hero-stats-item__check::after {
    font-size: 18px;
  }
  .hero-stats-item__title {
    font-size: 18px;
  }
}

/* Responsive max-767 */
@media only screen and (max-width: 767px) {
  .hero-container {
    flex-direction: column-reverse;
  }
  .hero-image {
    width: 100%;
    height: 400px;
    margin: 0;
  }
  .hero-image::before {
    top: 35px;
    right: 60px;
  }
  .hero-image img {
    width: 350px;
  }
  .hero-content {
    width: 100%;
  }

  .hero-description {
    width: 100%;
    font-size: 22px;
    line-height: 30px;
  }

  .hero-btn {
    width: 100%;
  }

  .hero-stats {
    grid-template-columns: 1fr;
  }
  .hero-stats-item__check {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
  .hero-stats-item__check::after {
    font-size: 18px;
  }
  .hero-stats-item__title {
    font-size: 22px;
  }
}

/* Responsive max-600px */
@media only screen and (max-width: 600px) {
  .hero-image {
    height: 305px;
    margin: 0;
  }
  .hero-image::before {
    top: 15px;
  }
  .hero-image img {
    width: 270px;
  }
  .hero-description {
    font-size: 20px;
    line-height: 30px;
  }
  .hero-stats-item__title {
    font-size: 20px;
  }
}

/* Python why courses section start */

.python_why_course{
  margin: 50px 0;
  background: rgb(60,178,127);
  background: radial-gradient(circle, rgba(60, 178, 127, 0.322) 0%, rgba(255,255,255,1) 41%);
}

.python_why_course .section_title span::after{
  display: none;
}

.python_why_course .section_title span::before{
  display: none;
}

.python-course_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course_cards {
  width: 380px;
  height: 181px;
  background: #FFFFFF;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 30px;
  margin-bottom: 30px;
}

.course_cards-text {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #000000;
}

@media only screen and (min-width: 375px) and (max-width: 480px) {
  .python_why_course .block-name {
    font-size: 0.7rem;
    line-height: 18px;
    margin-bottom: 18px;
  }
  
  .python_why_course .section_title {
      font-size: 24px;
      line-height: 130%;
      padding:0 30px;
      margin-bottom: 30px;
  }
  
  .python-course_cards {
    justify-content: space-evenly;
  }
  
  .course_cards {
    width: 162px;
    height: 173px;
    padding: 18px;
    margin-bottom: 12px;
  }

  .course_cards-text {
    font-size: 1.12rem;
  }
}

@media only screen and (max-width: 992px) and (min-width: 786px) {
  .python_why_course .section_title {
      line-height: 130%;
      padding:0 15px;
      margin-bottom: 30px;
  }
  
  .python-course_cards {
    justify-content: space-between;
  }
  
  
  .course_cards {
    width: 320px;
    height: 173px;
    padding: 18px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 786px) and (min-width: 576px) {
  .python_why_course .block-name {
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 18px;
  }
  
  .python_why_course .section_title {
      font-size: 24px;
      line-height: 130%;
      padding:0 15px;
      margin-bottom: 30px;
  }
  
  .python-course_cards {
    justify-content: space-evenly;
  }
  
  
  .course_cards {
    width: 220px;
    height: 173px;
    padding: 18px;
    margin-bottom: 12px;
  }

  .course_cards-text {
    font-size: 1.12rem;
  }
}

@media only screen and (max-width: 576px) and (min-width: 480px) {
  .python_why_course .block-name {
    font-size: 0.7rem;
    line-height: 18px;
    margin-bottom: 18px;
  }
  
  .python_why_course .section_title {
      font-size: 24px;
      line-height: 130%;
      padding:0 30px;
      margin-bottom: 30px;
  }
  
  .python-course_cards {
    justify-content: space-evenly;
  }
  
  
  .course_cards {
    width: 182px;
    height: 173px;
    padding: 18px;
    margin-bottom: 12px;
  }

  .course_cards-text {
    font-size: 1.12rem;
  }
}

/* Python why courses section finish */