/* Python hero section */

.text-left {
  text-align: left;
}
.hero-section {
  padding: 50px 0;
}
.hero-container {
  display: flex;
}
.hero-content {
  width: 583px;
}
.hero-description {
  width: 70%;
  font-size: 24px;
  color: #55645e;
  line-height: 36px;
}
.hero-btn {
  width: 265px;
  height: 52px;
  font-size: 1rem;
}

.hero-image {
  width: 550px;
  height: 483px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8ffed;
  border-radius: 0px 266.5px 266.5px 0px;
  margin-left: 64px;
  position: relative;
}
.hero-image::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -15px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: #3c64b2;
}
.hero-image::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 75px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: #933cb2;
}
.hero-image img {
  width: 370px;
}

.hero-stats {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
  row-gap: 24px;
}

.hero-stats-item {
  display: flex;
  align-items: center;
}
.hero-stats-item__check {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  background: #e9fff5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-stats-item__check::after {
  content: "\2713";
  color: #3cb27f;
  font-size: 20px;
}
.hero-stats-item__title {
  font-size: 24px;
  font-weight: 500;
  margin-left: 18px;
}
/* Python hero section end */
/* Responsive max-992 */
@media only screen and (max-width: 992px) {
  .hero-image {
    width: 50%;
    height: 360px;
    border-radius: 5px;
    margin-left: 20px;
  }
  .hero-image::after {
    width: 27px;
    height: 27px;
  }
  .hero-image::before {
    width: 27px;
    height: 27px;
    top: -10px;
    right: -10px;
  }
  .hero-image img {
    width: 300px;
  }
  .hero-content {
    width: 50%;
  }
  .hero-description {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
  }

  .hero-btn {
    width: 60%;
    height: 48px;
  }

  .hero-stats {
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
  .hero-stats-item__check {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
  .hero-stats-item__check::after {
    font-size: 18px;
  }
}
.center {
  text-align: center;
}
.highlight {
  color: #3cb27f;
}
.python-projects__block-name {
  color: #10985d;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.python-projects__section {
  padding: 36px 0;
}
.python-projects__title {
  font-size: 48px;
  color: #193c3f;
  font-weight: 700;
  margin-top: 12px;
}
.python-projects__description {
  font-size: 20px;
  color: #55645e;
  max-width: 806px;
  margin: 24px auto;
}

.python-projects__items {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.python-projects__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.python-projects__item:first-child .python-projects__item-box {
  border-radius: 50%;
  background: #e2f4ed;
}
.python-projects__item:nth-child(2) .python-projects__item-box {
  background: #e9e5ff;
}
.python-projects__item:nth-child(3) .python-projects__item-box {
  border-radius: 50%;
}
.python-projects__item:nth-child(4) .python-projects__item-box {
  background: #fff2ef;
  border-radius: 0px 125px 125px 0px;
}
.python-projects__item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 4px;
  background: #ebf8ff;
}
.python-projects__item-title {
  font-size: 20px;
  font-weight: 500;
  max-width: 250px;
  margin-top: 18px;
}

@media only screen and (max-width: 976px) {
  .python-projects__title {
    font-size: 36px;
    line-height: 54px;
  }

  .python-projects__item-box {
    width: 100px;
    height: 100px;
  }
  .python-projects__item-box img {
    width: 50px;
  }
  .python-projects__item-title {
    max-width: 145px;
    font-size: 18px;
  }
}

/* Responsive max-767 */
@media only screen and (max-width: 767px) {
  .hero-container {
    flex-direction: column-reverse;
  }
  .hero-image {
    width: 100%;
    height: 400px;
    margin: 0;
  }
  .hero-image::before {
    top: 35px;
    right: 60px;
  }
  .hero-image img {
    width: 350px;
  }
  .hero-content {
    width: 100%;
  }

  .hero-description {
    width: 100%;
    font-size: 22px;
    line-height: 30px;
  }

  .hero-btn {
    width: 100%;
  }

  .hero-stats {
    grid-template-columns: 1fr;
  }
  .hero-stats-item__check {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
  .hero-stats-item__check::after {
    font-size: 18px;
  }
  .hero-stats-item__title {
    font-size: 22px;
  }
}

/* Responsive max-600px */
@media only screen and (max-width: 600px) {
  .hero-image {
    height: 305px;
    margin: 0;
  }
  .hero-image::before {
    top: 15px;
  }
  .hero-image img {
    width: 270px;
  }
  .hero-description {
    font-size: 20px;
    line-height: 30px;
  }
  .hero-stats-item__title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 769px) {
  .python-projects__block-name {
    font-size: 18px;
  }
  .python-projects__title {
    font-size: 32px;
    line-height: 48px;
  }
  .python-projects__items {
    flex-wrap: wrap;
  }
  .python-projects__item {
    width: 32%;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .python-projects__block-name {
    font-size: 12px;
  }
  .python-projects__title {
    font-size: 24px;
    margin: 8px auto;
    line-height: 32px;
    max-width: 300px;
  }
  .python-projects__description {
    font-size: 16px;
    margin-top: 0px;
  }
  .python-projects__item {
    width: 48%;
  }
  .python-projects__item-box img {
    width: 45px;
  }
  .python-projects__item-title {
    max-width: 145px;
    font-size: 18px;
  }
}
