/* Python hero section */
.hero-section {
  padding: 50px 0;
}
.hero-container {
  display: flex;
}
.hero-content {
  width: 583px;
}
.hero-main-title {
  font-size: 6.5rem;
  font-weight: 700;
  margin-top: 20px;
  line-height: 72px;
}
.hero-description {
  width: 70%;
  font-size: 2.4rem;
  color: #55645e;
  line-height: 36px;
}
.hero-btn {
  width: 265px;
  height: 52px;
  font-size: 1.6rem;
}

.hero-image {
  width: 550px;
  height: 483px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8ffed;
  border-radius: 0px 266.5px 266.5px 0px;
  margin-left: 64px;
  position: relative;
}
.hero-image::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -15px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: #3c64b2;
}
.hero-image::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 75px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: #933cb2;
}
.hero-image img {
  width: 370px;
}

.hero-stats {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
  row-gap: 24px;
}

.hero-stats-item {
  display: flex;
  align-items: center;
}
.hero-stats-item__check {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  background: #e9fff5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-stats-item__check::after {
  content: "\2713";
  color: #3cb27f;
  font-size: 2rem;
}
.hero-stats-item__title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-left: 18px;
}
/* Python hero section end */
/* Responsive max-992 */
@media only screen and (max-width: 992px) {
  .hero-image {
    width: 50%;
    height: 360px;
    border-radius: 5px;
    margin-left: 20px;
  }
  .hero-image::after {
    width: 27px;
    height: 27px;
  }
  .hero-image::before {
    width: 27px;
    height: 27px;
    top: -10px;
    right: -10px;
  }
  .hero-image img {
    width: 300px;
  }
  .hero-content {
    width: 50%;
  }

  .hero-main-title {
    font-size: 3.6rem;
    line-height: 45px;
  }
  .hero-description {
    width: 100%;
    font-size: 2rem;
    line-height: 3rem;
  }

  .hero-btn {
    width: 60%;
    height: 48px;
  }

  .hero-stats {
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
  .hero-stats-item__check {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
  .hero-stats-item__check::after {
    font-size: 1.8rem;
  }
  .hero-stats-item__title {
    font-size: 1.8rem;
  }
}

/* Responsive max-767 */
@media only screen and (max-width: 767px) {
  .hero-container {
    flex-direction: column-reverse;
  }
  .hero-image {
    width: 100%;
    height: 400px;
    margin: 0;
  }
  .hero-image::before {
    top: 35px;
    right: 60px;
  }
  .hero-image img {
    width: 350px;
  }
  .hero-content {
    width: 100%;
  }

  .hero-main-title {
    font-size: 4.4rem;
    line-height: 45px;
  }
  .hero-description {
    width: 100%;
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .hero-btn {
    width: 100%;
  }

  .hero-stats {
    grid-template-columns: 1fr;
  }
  .hero-stats-item__check {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
  .hero-stats-item__check::after {
    font-size: 1.8rem;
  }
  .hero-stats-item__title {
    font-size: 2.2rem;
  }
}

/* Responsive max-600px */
@media only screen and (max-width: 600px) {
  .hero-image {
    height: 305px;
    margin: 0;
  }
  .hero-image::before {
    top: 15px;
  }
  .hero-image img {
    width: 270px;
  }

  .hero-main-title {
    font-size: 3rem;
  }
  .hero-description {
    font-size: 2rem;
    line-height: 3rem;
  }
  .hero-stats-item__title {
    font-size: 2rem;
  }
}
